body {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.text-style {
  color: #333;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.nav-bar-left {
  margin-left: 0;
}

.nav-bar-right {
  display: flex;
  gap: 10px;
}

.container {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 700px;
}

.landing-image {
  width: 250px;
}

.left-landing {
  width: 50%;
}

.git-hub-button {
  margin-right: 10px;
}
